<div class="row">
    <!-- Recorrer y pintar el array de usuarios -->
    @for (user of arrUsers; track user) {
    <article class="col-12 col-md-3 mb-4">
        <app-user-card [myUser]="user"></app-user-card>
    </article>
    }

    <div class="d-flex justify-content-center align-items-center">
        <button class="btn btn-outline-info text-dark" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
        <!-- Array de botones con número de página -->
    @for (pageNum of getPageNumbers(); track pageNum) {
        <button class="btn btn-info text-white mx-1" (click)="goToPage(pageNum)">{{ pageNum }}</button>
        }

        <button class="btn btn-outline-info text-dark" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>    
</div>