<div class="card">
    <!-- Informacion general del usuario -->
    <img [src]="myUser.image" class="card-img-top" alt="myUser.first_name">
    <div class="card-body">
        <h5 class="card-title">{{myUser.first_name}} {{myUser.last_name}}</h5>
    </div>
    
    <!-- Botonera Vista Card -->
    <div class="card-body d-flex align-items-center justify-content-center">
        <!-- Ocultar boton de Volver a listado-->
        <app-botonera [parent]="'card'" [idUser]="myUser._id"></app-botonera>
    </div>
</div>