<div class="d-flex justify-content-between gap-2">
    <!-- Indicar donde se va a ver cada boton -->
    @if(parent === 'card') {
        <a class="btn btn-secondary" [routerLink]="['/user', idUser]">Ver detalle</a>
    }@else if (parent === 'view') {
        <a class="btn btn-secondary" [routerLink]="['/home']">Volver a listado</a>
    }
    
    <!-- Botones comunes para ambos componentes -->
    <a class="btn btn-warning" [routerLink]="['/update', 'user', idUser ]">Actualizar</a>
    <button class="btn btn-danger" (click)="deleteUser('idUser')">Borrar</button>
</div>

<!-- Por hacer 
    1. Maquetar la botonera con iconos para la vista card
    2. Maquetar la botonera para la vista view.
-->